<div class="row">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="text-center" style="font-size:medium">Developed by Vivek S | Copyright &copy; GeeksBlog 2017 | Made with <i class="fa fa-heart" style="color:red"></i> in India</h4>
                    <div class="text-center">
                        <a href="https://www.linkedin.com/vivek020598" target="_blank">
                            <i class="fa fa-linkedin-square fa-3x grow" style="color:#007bb6;margin-right:7px" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.github.com/vivek0079" target="_blank">
                            <i class="fa fa-github fa-3x grow" style="color:#333;margin-right:7px" aria-hidden="true"></i>
                        </a>
                        <a href="mailto:vivek.vivek0079@gmail.com">
                            <i class="fa fa-envelope fa-3x grow" style="color:#ea4335;margin-right:7px" aria-hidden="true"></i>
                        </a>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>